.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {

}

.buttons {
    display: flex;
    gap: 20px;
}

.button {
    
}

.stats {

}

.stat {

}
